@tailwind base;
@tailwind components;
@tailwind utilities;

*::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
    overflow-x: hidden;
}

@layer components{

.main-div{
        @apply min-h-screen bg-slate-100;
    }

    .navbar{
        @apply absolute top-0 h-24 w-full flex  bg-slate-950;
    }

    .header{
        @apply uppercase text-white my-4 font-mono mx-auto text-xl md:text-3xl tracking-wider pt-5;
    }

    .tbl-i-h{
        @apply md:pb-[0.5rem] md:pt-[0.35rem] font-mono md:px-[5rem] md:tracking-wider uppercase text-[1.196rem] md:text-2xl;
    }

    .tbl-i-b{
        @apply py-[0.35rem] md:py-[0.75rem] md:px-[5rem] sm:px-[0.95rem] text-lg sm:tracking-tighter md:text-xl;
    }

    .table-div{
        @apply pt-[8rem];
    }

    .tbl{
        @apply text-gray-800 border md:border-2 divide-y-[0.225rem] divide-gray-600  md:border-spacing-x-7  md:border-spacing-y-3 m-auto  md:mx-auto mb-1 md:mb-[4rem] border-gray-600;
    }

    .table-body{
        @apply text-center divide-y divide-gray-400;
    }
  
} 

.table-body{
    font-weight: 499;
}