@tailwind base;
@tailwind components;
@tailwind utilities;

*::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
    overflow-x: hidden;
}

@layer components{

    .main-div{
        @apply  bg-slate-100 md:h-[calc(100vh-3rem)] min-h-[calc(100vh-8vh)];
    }

    .navbar{
        @apply absolute top-0 h-24 w-full flex justify-center items-center bg-slate-950;
    }

    .header{
        @apply uppercase text-white font-mono text-xl md:text-3xl tracking-wider;
    }

    .tbl-head-elem{
        @apply   md:pb-[0.5rem] md:pt-[0.35rem] font-mono text-center md:px-[5rem] px-3 md:tracking-wider uppercase text-[1.196rem] md:text-2xl;
    }

    .symbol-col{
        @apply absolute;
    }

    .symbol-cont{
        @apply flex items-center justify-start;
    }

    .percent-cont{
        @apply grid grid-cols-2 items-center align-middle justify-center md:gap-12 gap-8 md:ml-[2.40rem] ml-[1.70rem];
    }

    .crypto-name{
        @apply md:pt-[0.425rem] pt-[0.6rem] px-3 text-left md:text-xl;
    }

    .crypto-icon{
        @apply h-6 md:ml-[2.35rem] ml-[0.225rem] md:mt-[0.25rem] mt-[0.65rem] md:h-10;
    }

    .crypto-icon-lg{
        @apply h-12 md:h-14 ;
    }

    .tbl-body-elem{
        @apply py-[0.75rem] px-3  sm:tracking-tighter md:text-xl;
    }

    .table-div{
        @apply pt-[8rem];
    }

    .tbl-row{
        @apply hover:shadow-md transition-shadow duration-300 cursor-pointer ease-out;
    }

    .pagination-cont{
        @apply flex md:space-x-3 space-x-1 md:py-1 py-4 md:my-1 my-1 justify-center;
    }

    .page-button{
        @apply md:px-4 px-2 md:py-2 py-1 md:font-bold font-semibold border border-black rounded-md hover:shadow-[0px_0px_4px_4px_rgba(0,0,0,0.1)] bg-white/[0.2] text-sm transition duration-300;
    }

    .tbl{
        @apply text-gray-800 rounded-[0.375rem] border  md:border-2 divide-y-[0.225rem] divide-gray-600 w-[97%]  md:w-1/5 mx-auto mb-1 md:mb-[4rem] border-gray-600 border-separate;
    }

    .table-body{
        @apply text-center divide-y divide-gray-400;
    }

    .footer{
        @apply w-full bottom-0 flex justify-center items-end text-sm h-[4.75rem] md:h-[6.225rem] bg-slate-950;
    }

    .footer-text{
        @apply md:text-lg text-white font-mono mb-4 cursor-default;
    }
  
    /*   Crypto Details */

    .crypto-details-cont{
        @apply main-div md:h-[calc(100vh-3rem)] min-h-[calc(100vh-8vh)];
    }

    .crypto-details-div{
        @apply mt-[4.5rem] md:mt-[6.69rem] flex flex-col items-center text-center justify-center;
    }

    .crypto-details-header-cont{
        @apply flex justify-center md:space-x-6 space-x-4 md:mt-4 mt-8 mr-2;
    }
    
    .crypto-details-header{
        @apply text-3xl md:text-[2.87rem] mt-[0.475rem] font-mono overflow-hidden;
    }

    .details-cont{
        @apply flex flex-wrap flex-col text-center  mr-28 ml-24 mt-8 md:mt-16 md:mb-0 mb-5 md:flex-row text-xl md:text-3xl;
    }

    .details-header{
        @apply uppercase text-center font-bold italic text-4xl font-mono overflow-y-hidden;
    }

    .ltp-cont{
        @apply crypto-stat uppercase;
    }

    .crypto-stat{
        @apply   text-center flex flex-col md:flex-row  w-full md:w-1/3 py-4 px-5 md:py-8  text-lg md:text-2xl;
    }

} 

.table-body{
    font-weight: 499;
}

.shimmer {
    background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite linear;
  }